<div class="container animated fadeIn fast">
  <mat-tab-group color="accent" >
    <mat-tab label="Citas">
      <ng-template matTabContent>
        <div class="header">
          <h1>Citas</h1>
          <button mat-raised-button routerLink="new" ><mat-icon matPreffix>add</mat-icon> CITA</button>
        </div>
        <mat-divider [vertical]="false"></mat-divider>
        <div class="content animated bounceInUp slow">
          <div>
            <h3>Activo</h3>
            <div class="error-body animated fadeIn" *ngIf="errflag === true && loading === false || !active">
              <mat-icon>notification_important</mat-icon>
              <h2>No hay citas activas.</h2>
            </div>
            <div class="card-container" *ngIf="active">
              <mat-card class="card">
                <mat-card-title>{{active.costumer}}</mat-card-title>
                <mat-card-subtitle style="display: flex; flex-flow:row wrap; align-items:flex-start;">
                  <div><span *ngFor="let service of active.services">{{service.name}} - </span> {{active.time | date:'medium'}}</div>
                  <div style="margin-left: 5px;"><mat-icon style="font-size: 19px;">watch_later</mat-icon></div>
                </mat-card-subtitle>
                <mat-card-content class="card-content">
                </mat-card-content>
                <mat-card-actions style="display: flex; justify-content:flex-end;">
                  <button mat-raised-button (click)="deleteBook(active._id)">CANCELAR</button>
                  <button mat-raised-button color="accent" class="teal-btn" (click)="finishBook(active._id)" ><mat-icon>done_all</mat-icon> FINALIZAR</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
          <div>
            <!-- TODO -->
            <h3>Pendientes</h3>
            <div class="error-body animated fadeIn" *ngIf="errflag === true && loading === false || actives.length <= 0">
              <mat-icon>notification_important</mat-icon>
              <h2>No hay citas pendientes.</h2>
            </div>
            <app-loading *ngIf="loading === true"></app-loading>
            <div class="card-container" *ngIf="errflag === false && loading === false || actives.length > 0">
              <mat-card class="card"  *ngFor="let book of actives">
                <mat-card-title>{{book.costumer}}</mat-card-title>
                <mat-card-subtitle style="display: flex; flex-flow:row wrap; align-items:flex-start;">
                  <div><span *ngFor="let service of book.services">  {{service.name}} -<span *ngIf="book.services.length > 1"></span></span>  {{book.time | date:'medium'}}</div>
                  <div style="margin-left: 5px;"><mat-icon style="font-size: 19px;">watch_later</mat-icon></div>
                </mat-card-subtitle>
                <mat-card-content class="card-content">
                </mat-card-content>
                <mat-card-actions style="display: flex; justify-content:flex-end;">
                  <button mat-raised-button (click)="deleteBook(book._id)">CANCELAR</button>
                  <button mat-raised-button (click)="activateBook(book._id)"><mat-icon matPreffix>arrow_right_alt</mat-icon> COMENZAR</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Historial">
      <ng-template matTabContent>
        <div class="header">
          <h1>Historial</h1>
        </div>
        <mat-divider [vertical]="false" style="margin-bottom: 10px;"></mat-divider>
        <app-loading *ngIf="loading === true"></app-loading>
        <div class="error-body animated fadeIn" *ngIf="errflag === true && loading === false">
          <mat-icon>warning</mat-icon>
          <h2>No hay historial.</h2>
        </div>
        <div *ngIf="errflag === false" class="tb-1">
            <mat-form-field color="accent" style="width: 50%;" >
              <mat-label>Buscar</mat-label>
              <input matInput (keyup)="applyFilter(value)" placeholder="Buscar cita(s)..." [(ngModel)]="value">
              <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="applyClear()">
                <mat-icon>close</mat-icon>
              </button>
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          <div *ngIf="errflag === false" class="mat-elevation-z8 animated bounceInUp slow">
            <table mat-table matSort [dataSource]="dataSource">
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.costumer}} </td>
              </ng-container>
          
              <!-- Services Column -->
              <ng-container matColumnDef="services">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Servicios </th>
                <td mat-cell *matCellDef="let element"> <span *ngFor="let service of element.services">{{service.name}}<br></span> </td>
              </ng-container>
      
              <!-- Cost Column -->
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.time | date:'short'}} </td>
              </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>