.container {
    padding: 20px 40px;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.card-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
.card {
    width: 400px;
    max-width: 400px;
    margin: 10px;
}

.card-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  th.mat-sort-header-sorted {
    color: black;
  }

  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }

  td.mat-column-admin {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }

  .container {
    padding: 25px;
  }

  .tb-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .error-body{
    color: #e0e0e0;
    text-align: center;
    justify-content: center;
  }

  .error-body > mat-icon {
    font-size: 28px;
  }