.wrapper {
    padding: 10px 25px;
}

.container {
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.example-right-align {
    /*text-align: right;*/
  }
  
  
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}